@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100dwh;
    font-family: "Poppins", sans-serif;
    background-image: linear-gradient(to right, #5A58F5 , #5CDBFF);
}
.container{
    display: grid;
    min-height: 600px;
    min-width: 600px;
    -webkit-box-shadow: 0px -2px 17px -1px rgb(0, 0, 0);
    -moz-box-shadow:  0px -2px 17px -1px rgb(0, 0, 0);
    box-shadow:  0px -2px 17px -1px rgb(0, 0, 0);
} 


h2{
    text-align: center;
    margin: 25px;
    color: rgb(185, 0, 0);
}

.btn-container{
    display: flex;
    flex-direction: column;
    margin: auto 25px;
    padding: 10px;
    border-radius: 5px;
    justify-content: center;
    background: #2B4B69;
    height: fit-content
}

h3{
    text-align: center;
    color: white;
}


button{
    padding: 10px 40px;
    font-size: 18px;
    background-color: #008CBA;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    margin: 8px 0;
    transition: 300ms ease;
}

button:hover{
    transform: translateY(3px);
}
input{
    margin: 8px 0;
    height: 50px;
    width: 150px;
    font-size: 18px;
}



